<% provide :title, t(:contact)%>
<h1><%= t :contact %></h1>
<p>
  <h2><%= t :home_head %> By</h2>
  Manazir Ahsan <br>
  Sirajus Salekin<br>
  Abdullah All Mehedi<br>
  Rawnak Jahan<br>
  Noor Ahmed Biswas<br>
</p>