<%= form_for Like.new, remote: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :activity_id, value: activity.id %>
  <label class="btn btn-success btn-xs"><i class="glyphicon glyphicon-thumbs-up"></i>
    <%= f.submit t(:like), class: "btn btn-success btn-xs" %>
  </label>
<% end %>
