<% provide :title, t(:books_page_title) %>
<div class="row">
  <% @books.each do |book| %>
    <div class="col-lg-3 col-md-4 col-xs-6 thumbnail">
      <div class="text-center">
        <%= link_to book.title, send("#{role_prefix}book_path", book), class: "lead" %>
      </div>
      <%= link_to image_tag(book.book_images.first.image.url(:thumb), class: 
        "img-thumbnail"), send("#{role_prefix}book_path", book) %>
        <br>        
        <div class="row text-center">
          <%= link_to t(:book_index_review_btn), book_path(book), 
            class: "btn btn-xs btn-info" %>
        </div>        
    </div>
  <% end %>  
</div>