<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(:home_head), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to t(:sign_in), "#", class: "btn btn-default" %>
      </ul>
    </nav>
  </div>
</header>